<div class="section">
    <div class="container">
        <div class="section-title-area  wow animate__backInLeft">
            <div class="section-title-main">
                <h3>এখনই জয়েন করুন</h3>
                <h3>বাংলাদেশের সর্ববৃহৎ ক্লাসরুমে</h3>
            </div>
        </div>
        <div class="section-main">
            <div class="join-card wow animate__fadeInUp">
                <div class="join-card-img">
                  <img [src]="'./../assets/images/brand/jpg/graduate.png'" alt="" height="100" width="73" />
                </div>
                <div class="join-card-text">
                    <h3>1 কোটি +</h3>
                    <h3>মোট শিক্ষার্থী </h3>
                </div>
            </div>

            <div class="join-card wow animate__fadeInUp animate_delay-1s" style="background-color: #C7FFCC;">
                <div class="join-card-img">
                  <img [src]="'./../assets/images/brand/jpg/study-material.png'" alt="" height="100" width="73" />
                </div>
                <div class="join-card-text">
                    <h3>16,000+</h3>
                    <h3>লার্নিং কন্টেন্ট </h3>
                </div>
            </div>

            <div class="join-card wow animate__fadeInUp animate_delay-2s" style="background-color: #FFFFD0;">
                <div class="join-card-img">
                  <img [src]="'./../assets/images/brand/jpg/material.png'" alt="" height="100" width="73" />
                </div>
                <div class="join-card-text">
                    <h3>2,500+</h3>
                    <h3>স্টাডি ম্যাটেরিয়াল</h3>
                </div>
            </div>

            <div class="join-card wow animate__fadeInUp animate_delay-3s" style="background-color: #B5E7FF;">
                <div class="join-card-img">
                  <img [src]="'./../assets/images/brand/jpg/website.png'" alt="" height="100" width="73" />
                </div>
                <div class="join-card-text">
                    <h3>1 লক্ষ +</h3>
                    <h3>ওয়েবসাইট ব্যবহারকারী </h3>
                </div>
            </div>
        </div>
      <div class="view-all-btn">
        <!--      <button routerLink="/courses" [queryParams]="{type: 'live-course'}">আরো দেখুন</button>-->
        <div class="super-btn" routerLink="/login">
          <button class="btn-76">
            আরো দেখুন
            <span class="top"></span>
            <span class="right"></span>
            <span class="bottom"></span>
            <span class="left"></span>
          </button>
        </div>
      </div>
    </div>
</div>
