<app-product-details-area [product]="product"[relatedProducts]="relatedProducts" [ratingCalculation]="ratingCalculation"></app-product-details-area><!-- END! product-details-area -->
<app-description [product]="product" [data]="detailBanners"></app-description > <!-- END! app-description -->
<!--<app-customer-interested></app-customer-interested> END Customer interested -->
<!-- <app-related-product [products]="relatedAuthorProducts"></app-related-product>-->
<app-best-selling-book [products]="relatedProducts"></app-best-selling-book><!-- END Best Selling Book -->

<!-- END Rekated Product -->
