<section class="payment-success-area">
  <div class="container">
    <div class="payment-success-main">
      <div class="payment-success-top">
        <div class="payment-success-icon">
          <span class="cancel"><fa-icon [icon]="faExclamation"></fa-icon></span>
        </div>
        <div class="payment-success-title">
          <h4 class="cancel">Payment Failed</h4>
          <p *ngIf="message">{{message}}</p>
        </div>
      </div>
      <div class="btn">
        <button routerLink="/" mat-raised-button color="warn">Go Home</button>
      </div>
    </div>
  </div>
</section>
