@import "variables";

.review-card {
  min-height: 297px;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.quote {
  padding: 0.5rem;
  background-color: rgb(252 224 214);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: -21px;
}

.TestimonialSlider {
  display: flex;
  align-items: center;

  .info-sec {
    h3 {
      margin-bottom: 5px;
      font-size: 17px;
      font-weight: 600;
      font-family: $font-en-primary;
    }

    p {
      color: rgb(163 163 163);
      font-family: $font-en-primary;
      margin-bottom: 0;
      font-size: .875rem;
      line-height: 1.25rem;
    }
  }

}

.description {
  margin-top: 10px;

  .line-clamp-5 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    font-size: 16px;
    line-height: 26px;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.7);

    &.d-block {
      display: block !important;
    }
  }
}

.rounded-full {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;

  img {
    border-radius: 50%;
  }
}

.read-more-btn {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;

  p {
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(28 171 85/var(--tw-text-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
    }
  }
}