@import "variables";

.section {
  background-color: $color-white;
  padding: 70px 15px 30px;
  box-sizing: border-box;
  background-image: url("https://ftp.tutorcenter.online/upload/images/bg-28f10.webp?resolution=1920_1485");
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 10;
  transition: all 0.3s ease;

  .batch-area-final {
    display: grid;
    grid-template-columns: 100%;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  .batch-area {
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;

    &:last-child {
      margin: 0;
    }

    .batch-title {
      position: relative;
      z-index: 10;

      &.batch-title-second {
        margin-bottom: 0;
      }

      button {
        background-color: $color-white;
        max-width: 200px;
        width: 100%;
        margin: auto;
        border: none;
        display: block;
        cursor: pointer;
        border-radius: 6px;
        box-shadow: inset 0 -2px 5px #007efc72;

        span {
          height: 40px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background: -webkit-linear-gradient(-90deg, #007dfc, #00a8fe);
          -webkit-background-clip: text;
          font-family: $font-en-barlow;
          line-height: normal;
          font-weight: 600;
          font-size: 18px;
          -webkit-text-fill-color: transparent;
        }
      }

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -3;
      }
    }

    .batch-main-parent {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.2s linear;
      padding-bottom: 0;
      padding-bottom: 40px;

      &.open {
        grid-template-rows: 1fr;
        padding-bottom: 0;

        .batch-main {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }

    .batch-main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      justify-content: center;
      place-content: center;
      grid-gap: 20px;
      grid-template-rows: auto;
      overflow: hidden;
      padding-bottom: 0;
      transition: all 0.2s linear;

      .batch-card {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 40%);
        transition: all 0.3s ease;
        cursor: pointer;

        img {
          width: 100%;
          height: auto;
        }

        &:hover {
          transform: translateY(-10px) scale(1.01);
        }
      }
    }
  }
}

@media (max-width: 565px) {
  .section {
    padding: 40px 15px 0;

    .batch-area {
      .batch-main {
        grid-gap: 12px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      }
    }
  }
}
