@import "variables";

.card {
  //position: relative;
  border: 1px solid #eaecf0;
  //border-radius: 6px;
  //padding: 2px;
  z-index: 10;
  cursor: pointer;

  .card-img {
    position: relative;
    //border-radius: 6px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 240px;
      //border-radius: 6px;
      object-fit: cover;
    }
  }

  .card-text {
    //padding: 20px 10px 5px;

    h3 {
      color: $heading-color;
      font-family: $font-en-poppins;
      font-style: normal;
      font-weight: 600;
      font-size: $font-title-md-size + 1px;
      line-height: 28px;
      transition: all 0.3s ease;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price-area {
      display: block;
      margin-top: 7px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;

        li {
          display: flex;
          align-items: center;

          h3 {
            font-size: $font-title-md-size;
            margin: 0 !important;
          }

          h4 {
            color: $heading-color;
            font-family: $font-en-poppins;
            font-style: normal;
            font-weight: 500;
            font-size: $font-title-md-size - 2px;
            line-height: 22px;
            transition: all 0.3s ease;
            margin: 0 !important;
            // visibility: hidden;
            // opacity: 0;
          }

          button {
            background-color: $color-white;
            font-family: $font-en-poppins, $font-en-exo;
            font-style: normal;
            padding: 5px 12px;
            border: 1px solid $color-white;
            color: $color-primary;
            font-weight: 600;
            border-radius: 7px;
            font-size: 15px;
            transition: all 0.3s ease;
            // visibility: hidden;
            // opacity: 0;
          }
        }
      }
    }
  }
}

.tag {
  span {
    background-color: #EB1C24;
    color: #fff;
    font-family: $font-en-poppins;
    padding: 3px 5px;
    font-size: 13px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    max-width: 80px;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

@media(max-width: 1300px) {

  .card {
    .card-img {
      img {
        height: 220px;
      }
    }

    // &::after {
    //   height: 224px;
    // }
  }
}

@media(max-width: 400px) {
  .card {
    .card-img {
      img {
        height: 180px;
      }
    }

    // &::after {
    //   height: 184px;
    // }
  }
}

.view-details {
  background: #eaecf0;
  border-radius: 4px;
  margin: 7px 10px 8px;
  button {
    border: none;
    outline: none;
  }
  .custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: #f1f3f5; /* light gray */
    color: $color-black;
    font-weight: 600;
    font-size: 13px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .custom-button:hover {
    background-color: #e2e6ea;
  }

  .custom-button svg {
    margin-left: 8px;
    fill: #0d6efd;
    width: 16px;
    height: 16px;
  }

  &:hover {
    view-details {
      background: #d0d5dd;
    }
  }
}

.custom-text-padding {
  padding: 20px 10px 5px;
}

.card-text-top {
  margin-bottom: 7px;
  padding: 7px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .common-price {
    margin-bottom: 0px;
    background-color: #f1f3f5;
    color: #070707;
    padding: 3px 18px;
    border-radius: 5px;
  }
}

.div-name {
  border-top: 1px solid #e5e7eb;
  padding: 7px 10px 0px;
  padding-top: 4px;

  h3 {
    margin-bottom: 0 !important;
  }
}
