@import "variables";

.main-container {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  padding: 0 10px 25px 10px;
}

.top-section {
  text-align: center;

  .title {
    font-family: $font-en-primary;
    font-size: 20px;
    font-weight: 500;
    max-width: 600px;
    margin: auto;
    padding-bottom: 15px;
    color: #333;
    line-height: 60px;
  }
}

.bottom-section {
  height: auto;
  width: 75%;
  margin: 0 auto;
  padding-top: 40px;

}

@media(max-width: 900px) {
  .top-section {
    .title {
      font-size: 20px;
      padding-bottom: 11px;
      line-height: 55px;
    }

    .date {
      fa-icon {
        font-size: 13px;
      }

      span {
        font-size: 13px;
      }

    }
  }

  .bottom-section {
    width: 90%;
    padding-top: 50px;

    img {
      padding-bottom: 50px;
    }

    p {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@media(max-width: 700px) {
  .top-section {
    padding: 50px 0 25px 0;

    .title {
      font-size: 13px;
      padding-bottom: 11px;
      line-height: 35px;
    }
  }

  .bottom-section {
    padding-top: 30px;

    img {
      padding-bottom: 30px;
    }

    p {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

@media(max-width:650px) {
  ::ng-deep.res .skeleton-loader {
    height: 300px !important;
  }
}