.card {
  width: 100%;
  max-height: 134px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}
