/*** font-family ****/
$font-en-primary: "Poppins", sans-serif;
$font-en-exo: 'Poppins', sans-serif;
$font-en-poppins: 'Poppins', sans-serif;
$font-en-barlow: 'Poppins', sans-serif;
$font-en-roboto: 'Poppins', sans-serif;
$font-en-roboto-flex: 'Roboto Flex', sans-serif;
$font-en-bangali: 'Poppins', sans-serif;
$font-bn-primary: "hind-siliguri", sans-serif;
$bangla-kalpurush: "kalpurush", sans-serif;
$bangla-SolaimanLipi_Bold: "SolaimanLipi_Bold", sans-serif;
/**** container ***/
$container-max-width: 1400px;

/**** font size ***/
$font-title-size: 38px;
$font-title-md-size: 18px;
$font-dis-size: 16px;
$font-sub-title: 26px;
$font-sub-title-sm: 20px;

$font-title-desc: 16px;
$font-title-desc-sm: 12px;
// Fonts
$font-title: 34px;
$font-title-sm: 26px;
$font-readable: 14px;
$font-readable-sm: 12px;
/**** color ***/
$category-color-one: #B3B3B3;
$category-color: #000;
$color-primary: #203a42;
$color-black2: #333;
$cart-bg-color: #ff4a5e;
$color-white-secondary: #f1f1f1;
$color-black3: #555;
$button-color: #C92127;
$primary-color: #119744;
$footer-bg-color: #2c3e50;
$footer-bg-second-color: #1a252f;
$footer-text-color: #bdc3c7;
$button-color-white: #FFFFFF;
$color-yellow: #ffab10;
$client-color-yellow: #e67e22;
$esquire-color: #1f74ff;
$color-light-gray: #777777;
$heading-color: #111827;
$text-home-first-sec-color: #2f3432;
$sub-heading-color: #565765;
$color-danger: #ff3838;
$color-border: #e8e8e8;
$text-color: rgba(0, 0, 0, .7);
$color-secondary: #003d1f;
$color-black: #070707;
$color-orange: #ff7d09;
$color-primary-2: #143161;
$icon-default-color: #FFFFFF;
$color-white: #ffffff;
$table-bg-color: #FBAE01;
$table-text-color: #6a4a02;
$table-sm-color: #FE7B03;
$box-shadow-primary: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
$color-primary-category-active: #5bb8fa49;
