// @import'src/theme/variables';
// .dialog-area{
//   // padding-top: 35px;
//   display: flex;
//   width: 100%;
//   align-items: center;
//   justify-content: center;
//   height: -webkit-fill-available;
//     .logo{
//         display: block;
//         margin-bottom: 20px;
//         img{
//             max-width: 150px;
//             width: 100%;
//             margin: auto;
//         }
//     }
//     .dialog-body{
//       width: 100%;
//         h3{
//             color: $heading-color;
//             font-family: $font-en-primary;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 25px;
//             line-height: 25px;
//             display: block;
//             margin-bottom: 15px!important;
//         }
//         p{
//             color: $text-color;
//             font-family: $font-en-primary;
//             font-style: normal;
//             font-weight: 500;
//             font-size: 16px;
//             display: block;
//             line-height: 20px;
//         }
//     }
// }


// .close-button{
//   background: none;
//   border: none;
//   position: absolute;
//   right: 0px;
//   top: 0px;



//   i{
//     color: $color-white !important;
//     border-radius: 20px;
//     font-size: 26px;
//     box-shadow: rgba(0, 0, 0, 0.12) 0px 14px 25px, rgba(0, 0, 0, 0.10) 0px 10px 10px;
//   }
// }


// .banner-image{
//   object-fit: contain;
// }

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  box-shadow: none;
}
::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent!important;
}

@import'src/theme/variables';
iframe{
  .ytp-chrome-top .ytp-button, .ytp-small-mode .ytp-chrome-controls .ytp-button, .ytp-small-mode .ytp-replay-button {

    display: none!important;

  }
}

.youtube-container {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  aspect-ratio:10/4;
  /* No clicking/hover effects */
  //pointer-events: none;

  iframe {
    /* Extend it beyond the viewport... */
    width: 100%;
    max-height: 400px;
    height: 100%;
    /* ...and bring it back again */
   // margin-left: -100%;
  }
}

.offer-img{
    display: block;
    width: 100%;
}
.offer-cross-area{
    display: block;
    margin-bottom: 10px;
    text-align: right;
}
.offer-cross-area span{
    color: #fc5858;
    font-size: 20px;
    cursor: pointer;
}
.offer-img-main{
    display: block;
  text-decoration: none;
  background: none;
  margin: 0;
  border: 0;
  outline: none;
  //pointer-events: none;
}
.offer-img-main img{
    max-height: 400px!important;
    //max-width: 1000px!important;
    background-color: white;
    width: 100%;
    height: auto;
    block-size: auto;
    //object-fit: fill;
    border-radius: 10px;
    object-position: top;
}

::ng-deep .cdk-overlay-dark-backdrop{
    background-color: rgb(0 0 0 / 60%);
    padding: 20px;
    box-sizing: border-box;
  }
