@import "variables";

.footer-marquee {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(2, 12, 20, 0.8);
  border-top: 2px solid orangered;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  right: 0;
}

@media only screen and (max-device-width: 599px) {
  .footer-marquee {
    bottom: 0px;
    font-size: 12px;
    padding: 6px;
  }
}
