@import "exports/payment-message";


.payment-success-icon span {
  background-color: #333333;

  fa-icon {
    color: #FFFFFF;
  }
}

fa-icon {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.payment-success-title h4 {
  color: #333333;
}

.payment-success-title p {
  color: #333333;
  padding-top: 10px;
}
